<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.js_tobacco.mdm.cust.sql.CustMapper">
    <insert id="insertCust" parameterType="map" >
        INSERT INTO MD_CUST(
        CODE,
        NAME,
        ORGCODE,
        ORGNAME,
        UNITCODE,
        UNITNAME,
        GENDER,
        BIRTHDAY,
        NATIONALITY,
        NATIVEPLACE,
        BIRTHPLACE,
        BEGINWORKDATE,
        EMPLOYEESTATUS,
        ENTRYSORT,
        HEALTHSTATUS,
        IDCARD,        
        JOINPOLITYINFO,
        JOINPOLITY,
        ISSIGNEDCONTRACT,
        LDHTQX,
        PERSONALIDENTITY,
        SEQUENCEDEPT,
        SPECIALITY,
        SFGZZENKZ,        
        LENGTHOFSERVICE,
        SERVICEOFCALLING,        
        MANAGEWORK,
        OFFICETEL,
        HOMETEL,
        MOBILETEL,
        EMAIL,
        HOMADDRES,
        ADRESSPOSTCODE,
        USEDNAME,        
        HYZK,
        ACCLOCATE,        
        LANTYPE,
        LANSKILL,
        LANGRADE,
        DBDWRQ,
        NATION,
        SFHBGB,
        SPECIFICSTAFF,
        REMARK,        
        DEPRTUREDATE,
        EDUCATED,        
        HIGHESTEDUCATED,
        HIGHESTDEGREE,        
        STATUS) 
        VALUES (
        #{code, jdbcType=VARCHAR},
        #{name, jdbcType=VARCHAR},
        #{orgcode, jdbcType=VARCHAR},
        #{orgname, jdbcType=VARCHAR},
        #{unitcode, jdbcType=VARCHAR},
        #{unitname, jdbcType=VARCHAR},
        #{gender, jdbcType=VARCHAR},
        #{birthday, jdbcType=VARCHAR},
        #{nationality, jdbcType=VARCHAR},
        #{nativeplace, jdbcType=VARCHAR},
        #{birthplace, jdbcType=VARCHAR},
        #{beginworkdate, jdbcType=VARCHAR},
        #{employeestatus, jdbcType=VARCHAR},
        #{entrysort, jdbcType=VARCHAR},
        #{healthstatus, jdbcType=VARCHAR},
        #{idcard, jdbcType=VARCHAR},
        #{joinpolityinfo, jdbcType=VARCHAR},
        #{joinpolity, jdbcType=VARCHAR},
        #{issignedcontract, jdbcType=VARCHAR},
        #{ldhtqx, jdbcType=VARCHAR},
        #{personalidentity, jdbcType=VARCHAR},
        #{sequencedept, jdbcType=VARCHAR},
        #{speciality, jdbcType=VARCHAR},
        #{sfgzzenkz, jdbcType=VARCHAR},
        #{lengthofservice, jdbcType=INTEGER},
        #{serviceofcalling, jdbcType=INTEGER},
        #{managework, jdbcType=VARCHAR},
        #{officetel, jdbcType=VARCHAR},
        #{hometel, jdbcType=VARCHAR},
        #{mobiletel, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{homaddres, jdbcType=VARCHAR},
        #{adresspostcode, jdbcType=VARCHAR},
        #{usedname, jdbcType=VARCHAR},
        #{hyzk, jdbcType=VARCHAR},
        #{acclocate, jdbcType=VARCHAR},
        #{lantype, jdbcType=VARCHAR},
        #{lanskill, jdbcType=VARCHAR},
        #{langrade, jdbcType=VARCHAR},
        #{dbdwrq, jdbcType=VARCHAR},
        #{nation, jdbcType=VARCHAR},
        #{sfhbgb, jdbcType=VARCHAR},
        #{specificstaff, jdbcType=VARCHAR},
        #{remark, jdbcType=VARCHAR},
        #{departuredate, jdbcType=VARCHAR},
        #{educated, jdbcType=VARCHAR},
        #{highesteducated, jdbcType=VARCHAR},
        #{highestdegree, jdbcType=VARCHAR},
        #{status, jdbcType=VARCHAR})
    </insert>

    <update id="updateCust"  parameterType="map">
        UPDATE MD_CUST SET
        CODE = #{code, jdbcType=VARCHAR},
        NAME = #{name, jdbcType=VARCHAR},
        ORGCODE = #{orgcode, jdbcType=VARCHAR},
        ORGNAME = #{orgname, jdbcType=VARCHAR},
        UNITCODE = #{unitcode, jdbcType=VARCHAR},
        UNITNAME = #{unitname, jdbcType=VARCHAR},
        GENDER = #{gender, jdbcType=VARCHAR},
        BIRTHDAY = #{birthday, jdbcType=VARCHAR},
        NATIONALITY = #{nationality, jdbcType=VARCHAR},
        NATIVEPLACE = #{nativeplace, jdbcType=VARCHAR},
        BIRTHPLACE = #{birthplace, jdbcType=VARCHAR},
        BEGINWORKDATE = #{beginworkdate, jdbcType=VARCHAR},
        EMPLOYEESTATUS = #{employeestatus, jdbcType=VARCHAR},
        ENTRYSORT = #{entrysort, jdbcType=VARCHAR},
        HEALTHSTATUS = #{healthstatus, jdbcType=VARCHAR},
        IDCARD = #{idcard, jdbcType=VARCHAR},
        JOINPOLITYINFO = #{joinpolityinfo, jdbcType=VARCHAR},
        JOINPOLITY = #{joinpolity, jdbcType=VARCHAR},
        ISSIGNEDCONTRACT = #{issignedcontract, jdbcType=VARCHAR},
        LDHTQX = #{ldhtqx, jdbcType=VARCHAR},
        PERSONALIDENTITY = #{personalidentity, jdbcType=VARCHAR},
        SEQUENCEDEPT = #{sequencedept, jdbcType=VARCHAR},
        SPECIALITY = #{speciality, jdbcType=VARCHAR},
        SFGZZENKZ = #{sfgzzenkz, jdbcType=VARCHAR},
        LENGTHOFSERVICE = #{lengthofservice, jdbcType=VARCHAR},
        SERVICEOFCALLING = #{serviceofcalling, jdbcType=VARCHAR},
        MANAGEWORK = #{managework, jdbcType=VARCHAR},
        OFFICETEL = #{officetel, jdbcType=VARCHAR},
        HOMETEL = #{hometel, jdbcType=VARCHAR},
        MOBILETEL = #{mobiletel, jdbcType=VARCHAR},
        EMAIL = #{email, jdbcType=VARCHAR},
        HOMADDRES = #{homaddres, jdbcType=VARCHAR},
        ADRESSPOSTCODE = #{adresspostcode, jdbcType=VARCHAR},
        USEDNAME = #{usedname, jdbcType=VARCHAR},
        HYZK = #{hyzk, jdbcType=VARCHAR},
        ACCLOCATE = #{acclocate, jdbcType=VARCHAR},
        LANTYPE = #{lantype, jdbcType=VARCHAR},
        LANSKILL = #{lanskill, jdbcType=VARCHAR},
        LANGRADE = #{langrade, jdbcType=VARCHAR},
        DBDWRQ = #{dbdwrq, jdbcType=VARCHAR},
        NATION = #{nation, jdbcType=VARCHAR},
        SFHBGB = #{sfhbgb, jdbcType=VARCHAR},
        SPECIFICSTAFF = #{specificstaff, jdbcType=VARCHAR},
        REMARK = #{remark, jdbcType=VARCHAR},
        DEPRTUREDATE = #{departuredate, jdbcType=VARCHAR},
        EDUCATED = #{educated, jdbcType=VARCHAR},
        HIGHESTEDUCATED = #{highesteducated, jdbcType=VARCHAR},
        HIGHESTDEGREE = #{highestdegree, jdbcType=VARCHAR},
        STATUS = #{status, jdbcType=VARCHAR}
        WHERE  CODE = #{code}
    </update>
    
    <select id="getCust" parameterType="map" resultType="map" >
        SELECT * FROM MD_CUST
        <where>
            <if test="CODE != null">
                CODE = #{code}
            </if>
        </where>                
    </select>
    
    <delete id="deleteCust" parameterType="map">
        UPDATE MD_CUST SET
        STATUS = #{status, jdbcType=VARCHAR}
        WHERE  CODE = #{code}
    </delete>
</mapper>