<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.receivesend.webservice.beijing.synclicense.trans.SyncLicenseMapper">
    <select id="findDslLicense" parameterType="string" resultType="Integer">
        SELECT count(*) FROM DSL_LICENSE WHERE LIC_NO=#{value}
    </select>
    <insert id="insertDslLicense" parameterType="map" >
        INSERT INTO DSL_LICENSE
        (
         MSG_ID,
         APPLE_TYPE,
         APPLY_DATE,
         APPLY_COMPLIET_DATE,
         LIC_NO,
         COMPANY_NAME,
         INDU_COMM_BUSINESS_LICENCE,
         MANAGER_NAME,
         IDCARD,
         BUSINESS_ADDR,
         IS_DIFFER_HOME_ADDR,
         SUPPLY_COMPANY,
         ACCREDI_DATE,
         VALIDATE_START,
         VALIDATE_END,
         DELIVERY_DATE,
         ISSUE_DATE,
         NOW_EFFECT_STATUS,
         LIC_ISSUING_ORG,
         MANAGER_SCOPE,
         GROUND_OWNERSHIP,
         LEASE_TIMELIMIT_START,
         LEASE_TIMELIMIT_END,
         IS_VALIDATE,
         ISSUE_ORG_CODE,
         RETAIL_CID_TYPE,
         RETAIL_CID_NO,
         RETAIL_CID_ADDRESS,
         RETAIL_ADDRESS,
         CONTRACT_PERSON,
         RETAIL_TEL,
         SPECIAL_PERSON_GROUP,
         BUSI_MGR_LIC_VALIDITY,
         BIZ_FORMAT,
         AREA_TYPE,
         ECO_TYPE,
         ECO_TYPE_OTHER,
         RLIC_ADC,
         CREATE_TIME,
         BIZ_AREA,
         IS_CHAIN,
         IS_MAIN,
         IS_BUSINESS,
         SPECIAL_GROUP_TYPE_OTHER,
         OLD_LIC_NO,
         SUPPLY_COMPANY_CODE,
         AGENT_NAME,
         AGENT_IDCARD,
         FIRST_ACCREDI_DATE,
         REGISTERED_CAPITAL,
         ORG_CODE,
         ORG_NAME,
         LAST_MODIFY_TIME,
         LAST_APPLY_TIME,
         LAST_OPERATE_COMPLETE_TIME,
         LAST_OPERATE_TYPE,
         LAST_OPERATE_NAME,
         LAST_OPERATE_LOGNAME,
         REMARK,
         EXT1,
         EXT2
        )
        VALUES
        (
         #{MSG_ID,jdbcType=VARCHAR},
         #{APPLE_TYPE,jdbcType=VARCHAR},
         #{APPLY_DATE,jdbcType=VARCHAR},
         #{APPLY_COMPLIET_DATE,jdbcType=VARCHAR},
         #{LIC_NO,jdbcType=VARCHAR},
         #{COMPANY_NAME,jdbcType=VARCHAR},
         #{INDU_COMM_BUSINESS_LICENCE_NUMBER,jdbcType=VARCHAR},
         #{MANAGER_NAME,jdbcType=VARCHAR},
         #{IDCARD,jdbcType=VARCHAR},
         #{BUSINESS_ADDR,jdbcType=VARCHAR},
         #{IS_DIFFER_HOME_ADDR,jdbcType=VARCHAR},
         #{SUPPLY_COMPANY,jdbcType=VARCHAR},
         #{ACCREDI_DATE,jdbcType=VARCHAR},
         #{VALIDATE_START,jdbcType=VARCHAR},
         #{VALIDATE_END,jdbcType=VARCHAR},
         #{DELIVERY_DATE,jdbcType=VARCHAR},
         #{ISSUE_DATE,jdbcType=VARCHAR},
         #{NOW_EFFECT_STATUS,jdbcType=VARCHAR},
         #{LIC_ISSUING_ORG,jdbcType=VARCHAR},
         #{MANAGER_SCOPE,jdbcType=VARCHAR},
         #{GROUND_OWNERSHIP,jdbcType=VARCHAR},
         #{LEASE_TIMELIMIT_START,jdbcType=VARCHAR},
         #{LEASE_TIMELIMIT_END,jdbcType=VARCHAR},
         #{IS_VALIDATE,jdbcType=VARCHAR},
         #{ISSUE_ORG_CODE,jdbcType=VARCHAR},
         #{RETAIL_CID_TYPE,jdbcType=VARCHAR},
         #{RETAIL_CID_NO,jdbcType=VARCHAR},
         #{RETAIL_CID_ADDRESS,jdbcType=VARCHAR},
         #{RETAIL_ADDRESS,jdbcType=VARCHAR},
         #{CONTRACT_PERSON,jdbcType=VARCHAR},
         #{RETAIL_TEL,jdbcType=VARCHAR},
         #{SPECIAL_PERSON_GROUP,jdbcType=VARCHAR},
         #{BUSI_MGR_LIC_VALIDITY,jdbcType=VARCHAR},
         #{BIZ_FORMAT,jdbcType=VARCHAR},
         #{AREA_TYPE,jdbcType=VARCHAR},
         #{ECO_TYPE,jdbcType=VARCHAR},
         #{ECO_TYPE_OTHER,jdbcType=VARCHAR},
         #{RLIC_ADC,jdbcType=VARCHAR},
         #{CREATE_TIME,jdbcType=VARCHAR},
         #{BIZ_AREA,jdbcType=VARCHAR},
         #{IS_CHAIN,jdbcType=VARCHAR},
         #{IS_MAIN,jdbcType=VARCHAR},
         #{IS_BUSINESS,jdbcType=VARCHAR},
         #{SPECIAL_GROUP_TYPE_OTHER,jdbcType=VARCHAR},
         #{OLD_LIC_NO,jdbcType=VARCHAR},
         #{SUPPLY_COMPANY_CODE,jdbcType=VARCHAR},
         #{AGENT_NAME,jdbcType=VARCHAR},
         #{AGENT_IDCARD,jdbcType=VARCHAR},
         #{FIRST_ACCREDI_DATE,jdbcType=VARCHAR},
         #{REGISTERED_CAPITAL,jdbcType=VARCHAR},
         #{ORG_CODE,jdbcType=VARCHAR},
         #{ORG_NAME,jdbcType=VARCHAR},
         #{LAST_MODIFY_TIME,jdbcType=VARCHAR},
         #{LAST_APPLY_TIME,jdbcType=VARCHAR},
         #{LAST_OPERATE_COMPLETE_TIME,jdbcType=VARCHAR},
         #{LAST_OPERATE_TYPE,jdbcType=VARCHAR},
         #{LAST_OPERATE_NAME,jdbcType=VARCHAR},
         #{LAST_OPERATE_LOGNAME,jdbcType=VARCHAR},
         #{REMARK,jdbcType=VARCHAR},
         #{EXT1,jdbcType=VARCHAR},
         #{EXT2,jdbcType=VARCHAR}
        )
    </insert>

    <update id="updateDslLicense"  parameterType="map">
       UPDATE   DSL_LICENSE
       SET 
         APPLE_TYPE=#{APPLE_TYPE,jdbcType=VARCHAR},
         APPLY_DATE=#{APPLY_DATE,jdbcType=VARCHAR},
         APPLY_COMPLIET_DATE=#{APPLY_COMPLIET_DATE,jdbcType=VARCHAR},
         LIC_NO=#{LIC_NO,jdbcType=VARCHAR},
         COMPANY_NAME=#{COMPANY_NAME,jdbcType=VARCHAR},
         INDU_COMM_BUSINESS_LICENCE=#{INDU_COMM_BUSINESS_LICENCE_NUMBER,jdbcType=VARCHAR},
         MANAGER_NAME=#{MANAGER_NAME,jdbcType=VARCHAR},
         IDCARD=#{IDCARD,jdbcType=VARCHAR},
         BUSINESS_ADDR=#{BUSINESS_ADDR,jdbcType=VARCHAR},
         IS_DIFFER_HOME_ADDR=#{IS_DIFFER_HOME_ADDR,jdbcType=VARCHAR},
         SUPPLY_COMPANY=#{SUPPLY_COMPANY,jdbcType=VARCHAR},
         ACCREDI_DATE=#{ACCREDI_DATE,jdbcType=VARCHAR},
         VALIDATE_START=#{VALIDATE_START,jdbcType=VARCHAR},
         VALIDATE_END=#{VALIDATE_END,jdbcType=VARCHAR},
         DELIVERY_DATE=#{DELIVERY_DATE,jdbcType=VARCHAR},
         ISSUE_DATE=#{ISSUE_DATE,jdbcType=VARCHAR},
         NOW_EFFECT_STATUS=#{NOW_EFFECT_STATUS,jdbcType=VARCHAR},
         LIC_ISSUING_ORG=#{LIC_ISSUING_ORG,jdbcType=VARCHAR},
         MANAGER_SCOPE=#{MANAGER_SCOPE,jdbcType=VARCHAR},
         GROUND_OWNERSHIP=#{GROUND_OWNERSHIP,jdbcType=VARCHAR},
         LEASE_TIMELIMIT_START=#{LEASE_TIMELIMIT_START,jdbcType=VARCHAR},
         LEASE_TIMELIMIT_END=#{LEASE_TIMELIMIT_END,jdbcType=VARCHAR},
         IS_VALIDATE=#{IS_VALIDATE,jdbcType=VARCHAR},
         ISSUE_ORG_CODE=#{ISSUE_ORG_CODE,jdbcType=VARCHAR},
         RETAIL_CID_TYPE=#{RETAIL_CID_TYPE,jdbcType=VARCHAR},
         RETAIL_CID_NO=#{RETAIL_CID_NO,jdbcType=VARCHAR},
         RETAIL_CID_ADDRESS=#{RETAIL_CID_ADDRESS,jdbcType=VARCHAR},
         RETAIL_ADDRESS=#{RETAIL_ADDRESS,jdbcType=VARCHAR},
         CONTRACT_PERSON=#{CONTRACT_PERSON,jdbcType=VARCHAR},
         RETAIL_TEL=#{RETAIL_TEL,jdbcType=VARCHAR},
         SPECIAL_PERSON_GROUP=#{SPECIAL_PERSON_GROUP,jdbcType=VARCHAR},
         BUSI_MGR_LIC_VALIDITY=#{BUSI_MGR_LIC_VALIDITY,jdbcType=VARCHAR},
         BIZ_FORMAT=#{BIZ_FORMAT,jdbcType=VARCHAR},
         AREA_TYPE=#{AREA_TYPE,jdbcType=VARCHAR},
         ECO_TYPE=#{ECO_TYPE,jdbcType=VARCHAR},
         ECO_TYPE_OTHER=#{ECO_TYPE_OTHER,jdbcType=VARCHAR},
         RLIC_ADC=#{RLIC_ADC,jdbcType=VARCHAR},
         CREATE_TIME=#{CREATE_TIME,jdbcType=VARCHAR},
         BIZ_AREA=#{BIZ_AREA,jdbcType=VARCHAR},
         IS_CHAIN=#{IS_CHAIN,jdbcType=VARCHAR},
         IS_MAIN=#{IS_MAIN,jdbcType=VARCHAR},
         IS_BUSINESS=#{IS_BUSINESS,jdbcType=VARCHAR},
         SPECIAL_GROUP_TYPE_OTHER=#{SPECIAL_GROUP_TYPE_OTHER,jdbcType=VARCHAR},
         OLD_LIC_NO=#{OLD_LIC_NO,jdbcType=VARCHAR},
         SUPPLY_COMPANY_CODE=#{SUPPLY_COMPANY_CODE,jdbcType=VARCHAR},
         AGENT_NAME=#{AGENT_NAME,jdbcType=VARCHAR},
         AGENT_IDCARD=#{AGENT_IDCARD,jdbcType=VARCHAR},
         FIRST_ACCREDI_DATE=#{FIRST_ACCREDI_DATE,jdbcType=VARCHAR},
         REGISTERED_CAPITAL=#{REGISTERED_CAPITAL,jdbcType=VARCHAR},
         ORG_CODE=#{ORG_CODE,jdbcType=VARCHAR},
         ORG_NAME=#{ORG_NAME,jdbcType=VARCHAR},
         LAST_MODIFY_TIME=#{LAST_MODIFY_TIME,jdbcType=VARCHAR},
         LAST_APPLY_TIME=#{LAST_APPLY_TIME,jdbcType=VARCHAR},
         LAST_OPERATE_COMPLETE_TIME=#{LAST_OPERATE_COMPLETE_TIME,jdbcType=VARCHAR},
         LAST_OPERATE_TYPE=#{LAST_OPERATE_TYPE,jdbcType=VARCHAR},
         LAST_OPERATE_NAME=#{LAST_OPERATE_NAME,jdbcType=VARCHAR},
         LAST_OPERATE_LOGNAME=#{LAST_OPERATE_LOGNAME,jdbcType=VARCHAR},
         REMARK=#{REMARK,jdbcType=VARCHAR},
         EXT1=#{EXT1,jdbcType=VARCHAR},
         EXT2=#{EXT2,jdbcType=VARCHAR}
         WHERE LIC_NO=#{LIC_NO}
    </update>
    <select id="getCrmZmEnumRef" resultType="map">
        SELECT * FROM CRM_ZM_ENUM_REF
    </select>
    <select id="getCrmZmOrganRef" resultType="map" parameterType="string">
        SELECT * FROM CRM_ZM_ORGAN_REF WHERE ORG_CODE = #{value}
    </select>
</mapper>