<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.receivesend.webservice.beijing.synccust.trans.SyncCustRmMapper">
    
    <insert id="insertDslCust" parameterType="map" >
        INSERT INTO DSL_CUST_RM(
        BUSINESS_ID,
        MSG_ID,
        CUST_ID,
        LICENSE_CODE,
        CUST_NAME,
        COM_ID,
        CREGIE_ID,
        STATUS,
        LICE_STATUS,
        LICE_BORN_DATE,
        LICE_AVAIL_DATE,
        LICE_ISSUE_DATE,
        MANAGER,
        MANAGER_ID_CARD,
        REG_FUND,
        MANAGER_TEL,
        MANAGER_SEX,
        BUSI_ADDR,
        BUSI_ZIP,
        MANAGER_NATIVE,
        MANAGER_ID_ADDR,
        MANAGER_HANDTEL,
        EMAIL,
        SPECIAL_TYPE,
        BUSI_LICENSE_ID,
        BUSI_LICENSE_START_DATE,
        COM_CHARA,
        CHARTER_SCOPE,
        COR_EMP_AMT,
        ALL_BUSI_AREA,
        BUSI_LICENSE_AVAIL_DATE,
        BUSI_AREA_PART,
        BUSI_ADDR_BEGIN_DATE,
        BUSI_ADDR_AVAIL_DATE,
        SUPPLY_CATEGORY,
        GEOGRAPHY_ENVIRONMENT,
        ORDER_TEL,
        WORK_PORT,
        BASE_TYPE,
        IS_SEFL_CUST,
        HARDSHIP_TYPE,
        AREA_TYPE,
        RUT_ID,
        LONGITUDE,
        LATITUDE
        ) 
        VALUES (
        #{BUSINESS_ID, jdbcType=VARCHAR},
        #{MSG_ID, jdbcType=VARCHAR},
        #{CUST_ID, jdbcType=VARCHAR},
        #{LICENSE_CODE, jdbcType=VARCHAR},
        #{CUST_NAME, jdbcType=VARCHAR},
        #{COM_ID, jdbcType=VARCHAR},
        #{CREGIE_ID, jdbcType=VARCHAR},
        #{STATUS, jdbcType=VARCHAR},
        #{LICE_STATUS, jdbcType=VARCHAR},
        #{LICE_BORN_DATE, jdbcType=VARCHAR},
        #{LICE_AVAIL_DATE, jdbcType=VARCHAR},
        #{LICE_ISSUE_DATE, jdbcType=VARCHAR},
        #{MANAGER, jdbcType=VARCHAR},
        #{MANAGER_ID_CARD, jdbcType=VARCHAR},
        #{REG_FUND, jdbcType=DECIMAL},
        #{MANAGER_TEL, jdbcType=VARCHAR},
        #{MANAGER_SEX, jdbcType=VARCHAR},
        #{BUSI_ADDR, jdbcType=VARCHAR},
        #{BUSI_ZIP, jdbcType=VARCHAR},
        #{MANAGER_NATIVE, jdbcType=VARCHAR},
        #{MANAGER_ID_ADDR, jdbcType=VARCHAR},
        #{MANAGER_HANDTEL, jdbcType=VARCHAR},
        #{EMAIL, jdbcType=VARCHAR},
        #{SPECIAL_TYPE, jdbcType=VARCHAR},
        #{BUSI_LICENSE_ID, jdbcType=VARCHAR},
        #{BUSI_LICENSE_START_DATE, jdbcType=VARCHAR},
        #{COM_CHARA, jdbcType=VARCHAR},
        #{CHARTER_SCOPE, jdbcType=VARCHAR},
        #{COR_EMP_AMT, jdbcType=DECIMAL},
        #{ALL_BUSI_AREA, jdbcType=DECIMAL},
        #{BUSI_LICENSE_AVAIL_DATE, jdbcType=VARCHAR},
        #{BUSI_AREA_PART, jdbcType=VARCHAR},
        #{BUSI_ADDR_BEGIN_DATE, jdbcType=VARCHAR},
        #{BUSI_ADDR_AVAIL_DATE, jdbcType=VARCHAR},
        #{SUPPLY_CATEGORY, jdbcType=VARCHAR},
        #{GEOGRAPHY_ENVIRONMENT, jdbcType=VARCHAR},
        #{ORDER_TEL, jdbcType=VARCHAR},
        #{WORK_PORT, jdbcType=VARCHAR},
        #{BASE_TYPE, jdbcType=VARCHAR},
        #{IS_SEFL_CUST, jdbcType=VARCHAR},
        #{HARDSHIP_TYPE, jdbcType=VARCHAR},
        #{AREA_TYPE, jdbcType=VARCHAR},
        #{RUT_ID, jdbcType=VARCHAR},
        #{LONGITUDE, jdbcType=DECIMAL},
        #{LATITUDE, jdbcType=DECIMAL}
        )
    </insert>

    <update id="updateDslCust"  parameterType="map">
        UPDATE DSL_CUST_RM SET
	        LICENSE_CODE=#{LICENSE_CODE,jdbcType=VARCHAR},
	        CUST_NAME=#{CUST_NAME,jdbcType=VARCHAR},
	        COM_ID=#{COM_ID,jdbcType=VARCHAR},
	        CREGIE_ID=#{CREGIE_ID,jdbcType=VARCHAR},
	        STATUS=#{STATUS,jdbcType=VARCHAR},
	        LICE_STATUS=#{LICE_STATUS,jdbcType=VARCHAR},
	        LICE_BORN_DATE=#{LICE_BORN_DATE,jdbcType=VARCHAR},
	        LICE_AVAIL_DATE=#{LICE_AVAIL_DATE,jdbcType=VARCHAR},
	        LICE_ISSUE_DATE=#{LICE_ISSUE_DATE,jdbcType=VARCHAR},
	        MANAGER=#{MANAGER,jdbcType=VARCHAR},
	        MANAGER_ID_CARD=#{MANAGER_ID_CARD,jdbcType=VARCHAR},
	        REG_FUND=#{REG_FUND,jdbcType=VARCHAR},
	        MANAGER_TEL=#{MANAGER_TEL,jdbcType=VARCHAR},
	        MANAGER_SEX=#{MANAGER_SEX,jdbcType=VARCHAR},
	        BUSI_ADDR=#{BUSI_ADDR,jdbcType=VARCHAR},
	        BUSI_ZIP=#{BUSI_ZIP,jdbcType=VARCHAR},
	        MANAGER_NATIVE=#{MANAGER_NATIVE,jdbcType=VARCHAR},
	        MANAGER_ID_ADDR=#{MANAGER_ID_ADDR,jdbcType=VARCHAR},
	        MANAGER_HANDTEL=#{MANAGER_HANDTEL,jdbcType=VARCHAR},
	        EMAIL=#{EMAIL,jdbcType=VARCHAR},
	        SPECIAL_TYPE=#{SPECIAL_TYPE,jdbcType=VARCHAR},
	        BUSI_LICENSE_ID=#{BUSI_LICENSE_ID,jdbcType=VARCHAR},
	        BUSI_LICENSE_START_DATE=#{BUSI_LICENSE_START_DATE,jdbcType=VARCHAR},
	        COM_CHARA=#{COM_CHARA,jdbcType=VARCHAR},
	        CHARTER_SCOPE=#{CHARTER_SCOPE,jdbcType=VARCHAR},
	        COR_EMP_AMT=#{COR_EMP_AMT,jdbcType=VARCHAR},
	        ALL_BUSI_AREA=#{ALL_BUSI_AREA,jdbcType=VARCHAR},
	        BUSI_LICENSE_AVAIL_DATE=#{BUSI_LICENSE_AVAIL_DATE,jdbcType=VARCHAR},
	        BUSI_AREA_PART=#{BUSI_AREA_PART,jdbcType=VARCHAR},
	        BUSI_ADDR_BEGIN_DATE=#{BUSI_ADDR_BEGIN_DATE,jdbcType=VARCHAR},
	        BUSI_ADDR_AVAIL_DATE=#{BUSI_ADDR_AVAIL_DATE,jdbcType=VARCHAR},
	        SUPPLY_CATEGORY=#{SUPPLY_CATEGORY,jdbcType=VARCHAR},
	        GEOGRAPHY_ENVIRONMENT=#{GEOGRAPHY_ENVIRONMENT,jdbcType=VARCHAR},
	        ORDER_TEL=#{ORDER_TEL,jdbcType=VARCHAR},
	        WORK_PORT=#{WORK_PORT,jdbcType=VARCHAR},
	        BASE_TYPE=#{BASE_TYPE,jdbcType=VARCHAR},
	        IS_SEFL_CUST=#{IS_SEFL_CUST,jdbcType=VARCHAR},
	        HARDSHIP_TYPE=#{HARDSHIP_TYPE,jdbcType=VARCHAR},
	        AREA_TYPE=#{AREA_TYPE,jdbcType=VARCHAR},
	        RUT_ID=#{RUT_ID,jdbcType=VARCHAR},
	        LONGITUDE=#{LONGITUDE,jdbcType=VARCHAR},
	        LATITUDE=#{LATITUDE,jdbcType=VARCHAR}
        WHERE  CUST_ID = #{CUST_ID}
    </update>
    <select id="getDslCust" parameterType="map" resultType="map"> 
         SELECT * FROM DSL_CUST_RM WHERE CUST_ID=#{CUST_ID}
    </select>
</mapper>