<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.receivesend.rocketmq.syncVendItem.SyncVendItemMapper">
     <insert id="insertDslVendItem" parameterType="map">
      INSERT INTO DSL_VEND_ITEM(
        MSG_ID,
        COM_IDS,
		VEND_ID,
		ITEM_ID) 
		 VALUES (
		#{MSG_ID,jdbcType=VARCHAR},
		#{COM_IDS,jdbcType=VARCHAR},
		#{VEND_ID,jdbcType=VARCHAR},
		#{ITEM_ID,jdbcType=VARCHAR})
     </insert>
     
	<select id="getDslVendItemByGS" parameterType="map" resultType="map">
	  SELECT VEND_ID,ITEM_ID
	  FROM DSL_VEND_ITEM
	  WHERE MSG_ID=#{MSG_ID}
	</select>
	
     <!--插入品牌  -->
	<insert id="insertVendItemToJS" parameterType="map">
      INSERT INTO PLM_VEND_ITEM ( VEND_ID,ITEM_ID)
	  SELECT VEND_ID,ITEM_ID
	  FROM DSL_VEND_ITEM
	  WHERE MSG_ID=#{MSG_ID}
     </insert>
	<delete id="delVendItemToJS" parameterType="map">
		DELETE FROM PLM_VEND_ITEM WHERE VEND_ID=#{VEND_ID}
	</delete>
	
</mapper>