<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inspur.receivesend.rocketmq.syncCust.SyncCustMapper">
 	<!-- 插入DSL_CO_CUST-->
     <insert id="insertDslCoCust" parameterType="map">
     	INSERT INTO DSL_CO_CUST (
	     	CUST_ID,CUST_CODE, CUST_NAME, CUST_SHORT_NAME, CUST_SHORT_ID, LICENSE_CODE, STATUS, COM_ID, SALE_CENTER_ID,
	     	SALE_DEPT_ID, SLSMGR_ID, SLSMAN_ID, SLSMAN_MOBILE, MANAGER, IDENTITY_CARD_ID, ORDER_TEL, INV_TYPE,
	     	ORDER_WAY, PAY_TYPE, PERIODS, PRD_ST_DATE, ORDER_CUST_ID, BUSI_ADDR, WORK_PORT, BASE_TYPE, SALE_SCOPE,
	     	SCOPE, COM_CHARA, INNER_TYPE, CUST_KIND, CUST_KIND_NAME, CUST_TYPE, CUST_TYPE1, CUST_TYPE2, CUST_TYPE3,
	     	CUST_TYPE4, CUST_TYPE5, AREA_TYPE, IS_SEFL_CUST, IS_FUNC_CUST, MANAGER_BIRTHDAY, CELEBRATE_DATE, 
	     	NATION_CUST_CODE, LONGITUDE, LATITUDE, AGENT_MESSAGE, NOTE,INVTY_ID, STEP_ID, INV_CUST_ID,
	     	INV_UNIT_NAME, ACCOUNT, BANK, TAX_ACCOUNT, OTHER_ORDER_WAY, IS_TOR_TAX, TAX_TEL, TAX_ADRR, MANAGER_TEL,
	     	TAX_ADDR, IS_SALE_LARGE, CUST_TYPE6, CUST_TYPE7, CUST_TYPE8, CUST_TYPE9, CUST_TYPE10, CANT_ID, IS_ONLINE_PAY,
	     	SALE_AVG, ITEM_ORD, QTY_SOLD, AMT_SOLD, CUST_SEG, IS_RAIL_CUST, QTY_MULTIPLE, COLLECT_STAFF_ID, ITEM_HEIGHT,
	     	AREA_ID, BASE_TYPE_EXT, AREA_TYPE_EXT, WORK_PORT_EXT,REGIE_DEP,REGIE_ADMIN,OBSERVED_LAW,MSG_ID
     	) VALUES (
     		#{CUST_ID,jdbcType=VARCHAR},#{CUST_CODE,jdbcType=VARCHAR}, #{CUST_NAME,jdbcType=VARCHAR}, #{CUST_SHORT_NAME,jdbcType=VARCHAR},
        	#{CUST_SHORT_ID,jdbcType=VARCHAR}, #{LICENSE_CODE,jdbcType=VARCHAR}, #{STATUS,jdbcType=VARCHAR},
	        #{COM_ID,jdbcType=VARCHAR},#{SALE_CENTER_ID,jdbcType=VARCHAR},#{SALE_DEPT_ID,jdbcType=VARCHAR},
	        #{SLSMGR_ID,jdbcType=VARCHAR},#{SLSMAN_ID,jdbcType=VARCHAR},#{SLSMAN_MOBILE,jdbcType=VARCHAR},
	        #{MANAGER,jdbcType=VARCHAR},#{IDENTITY_CARD_ID,jdbcType=VARCHAR},#{ORDER_TEL,jdbcType=VARCHAR},
	        #{INV_TYPE,jdbcType=VARCHAR},#{ORDER_WAY,jdbcType=VARCHAR},#{PAY_TYPE,jdbcType=VARCHAR},
	        #{PERIODS,jdbcType=VARCHAR},#{PRD_ST_DATE,jdbcType=CHAR},#{ORDER_CUST_ID,jdbcType=VARCHAR},
	        #{BUSI_ADDR,jdbcType=VARCHAR},#{WORK_PORT,jdbcType=CHAR},#{BASE_TYPE,jdbcType=CHAR},
	        #{SALE_SCOPE,jdbcType=CHAR},#{SCOPE,jdbcType=VARCHAR},#{COM_CHARA,jdbcType=CHAR},
	        #{INNER_TYPE,jdbcType=VARCHAR},#{CUST_KIND,jdbcType=VARCHAR},#{CUST_KIND_NAME,jdbcType=VARCHAR},
	        #{CUST_TYPE,jdbcType=VARCHAR},#{CUST_TYPE1,jdbcType=VARCHAR},#{CUST_TYPE2,jdbcType=VARCHAR},
	        #{CUST_TYPE3,jdbcType=VARCHAR},#{CUST_TYPE4,jdbcType=VARCHAR},#{CUST_TYPE5,jdbcType=VARCHAR},
	        #{AREA_TYPE,jdbcType=VARCHAR},#{IS_SEFL_CUST,jdbcType=CHAR},#{IS_FUNC_CUST,jdbcType=CHAR},
	        #{MANAGER_BIRTHDAY,jdbcType=CHAR},#{CELEBRATE_DATE,jdbcType=CHAR},#{NATION_CUST_CODE,jdbcType=VARCHAR},
	        #{LONGITUDE,jdbcType=DECIMAL},#{LATITUDE,jdbcType=DECIMAL},#{AGENT_MESSAGE,jdbcType=VARCHAR},
	        #{NOTE,jdbcType=VARCHAR},#{INVTY_ID,jdbcType=VARCHAR},
	        #{STEP_ID,jdbcType=VARCHAR},#{INV_CUST_ID,jdbcType=VARCHAR},#{INV_UNIT_NAME,jdbcType=VARCHAR},
	        #{ACCOUNT,jdbcType=VARCHAR},#{BANK,jdbcType=VARCHAR},#{TAX_ACCOUNT,jdbcType=VARCHAR},
	        #{OTHER_ORDER_WAY,jdbcType=VARCHAR},#{IS_TOR_TAX,jdbcType=CHAR},#{TAX_TEL,jdbcType=VARCHAR},
	        #{TAX_ADRR,jdbcType=VARCHAR},#{MANAGER_TEL,jdbcType=VARCHAR},#{TAX_ADDR,jdbcType=VARCHAR},
	        #{IS_SALE_LARGE,jdbcType=VARCHAR},#{CUST_TYPE6,jdbcType=VARCHAR},#{CUST_TYPE7,jdbcType=VARCHAR},
	        #{CUST_TYPE8,jdbcType=VARCHAR},#{CUST_TYPE9,jdbcType=VARCHAR},#{CUST_TYPE10,jdbcType=VARCHAR},
	        #{CANT_ID,jdbcType=CHAR},#{IS_ONLINE_PAY,jdbcType=CHAR},#{SALE_AVG,jdbcType=DECIMAL},
	        #{ITEM_ORD,jdbcType=INTEGER},#{QTY_SOLD,jdbcType=DECIMAL},#{AMT_SOLD,jdbcType=DECIMAL},
	        #{CUST_SEG,jdbcType=VARCHAR},#{IS_RAIL_CUST,jdbcType=CHAR},#{QTY_MULTIPLE,jdbcType=VARCHAR},
	        #{COLLECT_STAFF_ID,jdbcType=VARCHAR},#{ITEM_HEIGHT,jdbcType=VARCHAR},#{AREA_ID,jdbcType=VARCHAR},
	        #{BASE_TYPE_EXT,jdbcType=VARCHAR},#{AREA_TYPE_EXT,jdbcType=VARCHAR},#{WORK_PORT_EXT,jdbcType=VARCHAR},
	        #{REGIE_DEP,jdbcType=VARCHAR},#{REGIE_ADMIN,jdbcType=VARCHAR},#{OBSERVED_LAW,jdbcType=CHAR},
	        #{MSG_ID,jdbcType=VARCHAR}
     	)
     </insert>
      <!-- 插入DSL_CRM_CUST-->
     <insert id="insertDslCrmCust" parameterType="map">
     	INSERT INTO DSL_CRM_CUST (
	     	CUST_ID, PERIOD_TYPE, VISIT_PERIOD, VISIT_ORDER, IS_MAINTAIN, CRM_LONGITUDE, CRM_LATITUDE, IS_MULTIPLE_SHOP,
	     	ORG_MODEL, IS_NIGHT_SHOP, BUSI_TIME_TYPE, INFO_TERMINAL, SHOP_FRONT_MARK, BUSI_START_DATE, BUSI_END_DATE, 
	     	EQUIP_IN_CIG, EQUIP_IN_CIG_AMT, DISPLAY_AREA, CUST_KIND1, CUST_KIND2, CUST_KIND3, CUST_KIND4, CUST_KIND5, 
	     	SHOP_CONDITION, STOREFRONT_IMAGE, IS_MARKED_PRICE, LEARNING_ABILITY, COMMUNICATE_ABILITY, PROMPT_ABILITY, 
	     	COOPERATE_WILL, IF_BEST, SUB_WORK_PORT, SUB_AREA_TYPE, SHOP_AREA_KIND, COR_EMP_AMT, RIM_TYPE, SCORE, WEBCHAT, 
	     	WECHAT, RESOURCE_SCORE, HARDSHIP_TYPE, SPECIAL_TYPE1, IS_CHAPTER, IS_IMAGE_SHOW, IS_RIM, COR_CUST_ID, 
	     	CONSUMER_GROUP, CHAIN_SHOP_ID, CONSUMER_ATTR, COM_ID, PAY_CUST_ID, STORE_PIC, IN_STORE_PIC, 
	     	FLOOR_CABINET_AFTER_PIC, BACK_CABINET_AFTER_PIC, NET_DATE, ORG_LONGTITUE, ORG_LANTITUDE, SALE_RESUME_DATE, 
	     	LM_RESUME_DATE, MARKETING_CONFIRM, LDM_CONFIRM, BUSI_TYPE, COMPLIANCE_GRADE, SPECIAL_CUST_KIND, SPECIAL_CUST_TYPE, 
	     	IS_GRO, GROUP_ID, GROUP_NAME, NEAR_CUST_ID, BUSI_ADDR_CITY, BUSI_ADDR_COUNTY, BUSI_ADDR_TOWN, BUSI_ADDR_VILLAGE, 
	     	GRID_ID, MSG_ID
     	) VALUES (
			#{CUST_ID,jdbcType=VARCHAR},#{PERIOD_TYPE,jdbcType=VARCHAR},#{VISIT_PERIOD,jdbcType=VARCHAR},
			#{VISIT_ORDER,jdbcType=INTEGER},#{IS_MAINTAIN,jdbcType=VARCHAR},#{CRM_LONGITUDE,jdbcType=DECIMAL},
			#{CRM_LATITUDE,jdbcType=DECIMAL},#{IS_MULTIPLE_SHOP,jdbcType=CHAR},#{ORG_MODEL,jdbcType=VARCHAR},
			#{IS_NIGHT_SHOP,jdbcType=CHAR},#{BUSI_TIME_TYPE,jdbcType=VARCHAR},#{INFO_TERMINAL,jdbcType=VARCHAR},
			#{SHOP_FRONT_MARK,jdbcType=VARCHAR},#{BUSI_START_DATE,jdbcType=CHAR},#{BUSI_END_DATE,jdbcType=CHAR},
			#{EQUIP_IN_CIG,jdbcType=VARCHAR},#{EQUIP_IN_CIG_AMT,jdbcType=INTEGER},#{DISPLAY_AREA,jdbcType=DECIMAL},
			#{CUST_KIND1,jdbcType=VARCHAR},#{CUST_KIND2,jdbcType=VARCHAR},#{CUST_KIND3,jdbcType=VARCHAR},
			#{CUST_KIND4,jdbcType=VARCHAR},#{CUST_KIND5,jdbcType=VARCHAR},#{SHOP_CONDITION,jdbcType=VARCHAR},
			#{STOREFRONT_IMAGE,jdbcType=VARCHAR},#{IS_MARKED_PRICE,jdbcType=VARCHAR},#{LEARNING_ABILITY,jdbcType=VARCHAR},
			#{COMMUNICATE_ABILITY,jdbcType=VARCHAR},#{PROMPT_ABILITY,jdbcType=VARCHAR},#{COOPERATE_WILL,jdbcType=VARCHAR},
			#{IF_BEST,jdbcType=VARCHAR},#{SUB_WORK_PORT,jdbcType=VARCHAR},#{SUB_AREA_TYPE,jdbcType=VARCHAR},
			#{SHOP_AREA_KIND,jdbcType=VARCHAR},#{COR_EMP_AMT,jdbcType=INTEGER},#{RIM_TYPE,jdbcType=VARCHAR},
			#{SCORE,jdbcType=DECIMAL},#{WEBCHAT,jdbcType=VARCHAR},#{WECHAT,jdbcType=VARCHAR},
			#{RESOURCE_SCORE,jdbcType=DECIMAL},#{HARDSHIP_TYPE,jdbcType=VARCHAR},#{SPECIAL_TYPE1,jdbcType=CHAR},
			#{IS_CHAPTER,jdbcType=CHAR},#{IS_IMAGE_SHOW,jdbcType=CHAR},#{IS_RIM,jdbcType=CHAR},
			#{COR_CUST_ID,jdbcType=VARCHAR},#{CONSUMER_GROUP,jdbcType=VARCHAR},#{CHAIN_SHOP_ID,jdbcType=VARCHAR},
			#{CONSUMER_ATTR,jdbcType=VARCHAR},#{COM_ID,jdbcType=VARCHAR},#{PAY_CUST_ID,jdbcType=VARCHAR},
			#{STORE_PIC,jdbcType=VARCHAR},#{IN_STORE_PIC,jdbcType=VARCHAR},#{FLOOR_CABINET_AFTER_PIC,jdbcType=VARCHAR},
			#{BACK_CABINET_AFTER_PIC,jdbcType=VARCHAR},#{NET_DATE,jdbcType=VARCHAR},#{ORG_LONGTITUE,jdbcType=DECIMAL},
			#{ORG_LANTITUDE,jdbcType=DECIMAL},#{SALE_RESUME_DATE,jdbcType=VARCHAR},#{LM_RESUME_DATE,jdbcType=VARCHAR},
			#{MARKETING_CONFIRM,jdbcType=VARCHAR},#{LDM_CONFIRM,jdbcType=VARCHAR},#{BUSI_TYPE,jdbcType=VARCHAR},
			#{COMPLIANCE_GRADE,jdbcType=VARCHAR},#{SPECIAL_CUST_KIND,jdbcType=VARCHAR},#{SPECIAL_CUST_TYPE,jdbcType=VARCHAR},
			#{IS_GRO,jdbcType=VARCHAR},#{GROUP_ID,jdbcType=VARCHAR},#{GROUP_NAME,jdbcType=VARCHAR},
			#{NEAR_CUST_ID,jdbcType=VARCHAR},#{BUSI_ADDR_CITY,jdbcType=VARCHAR},#{BUSI_ADDR_COUNTY,jdbcType=VARCHAR},
			#{BUSI_ADDR_TOWN,jdbcType=VARCHAR},#{BUSI_ADDR_VILLAGE,jdbcType=VARCHAR},#{GRID_ID,jdbcType=VARCHAR},
			#{MSG_ID,jdbcType=VARCHAR}
     	)
     </insert>
     <!-- 插入DSL_CSC_CUST-->
     <insert id="insertDslCscCust" parameterType="map">
    	INSERT INTO DSL_CSC_CUST (
	    	COM_ID, CALLCENTER_ID, CUST_ID, SEQ, PERIODS_ID, DOMAIN_ID, GATE_ID, CALL_TYPE, OBTELNO,
	    	OBTELNO2,BEGIN_TIME, END_TIME, ORDER_PWD, CALL_STATUS, RESTART_DATE, STOP_REASON, MSG_ID
	   	) VALUES (
			#{COM_ID,jdbcType=VARCHAR},#{CALLCENTER_ID,jdbcType=VARCHAR},#{CUST_ID,jdbcType=VARCHAR},
			#{SEQ,jdbcType=INTEGER},#{PERIODS_ID,jdbcType=VARCHAR},#{DOMAIN_ID,jdbcType=VARCHAR},
			#{GATE_ID,jdbcType=VARCHAR},#{CALL_TYPE,jdbcType=VARCHAR},#{OBTELNO,jdbcType=VARCHAR},
			#{OBTELNO2,jdbcType=VARCHAR},#{BEGIN_TIME,jdbcType=VARCHAR},#{END_TIME,jdbcType=VARCHAR},
			#{ORDER_PWD,jdbcType=VARCHAR},#{CALL_STATUS,jdbcType=CHAR},#{RESTART_DATE,jdbcType=CHAR},
			#{STOP_REASON,jdbcType=VARCHAR},#{MSG_ID,jdbcType=VARCHAR}
	   	)
     </insert>
     <!-- 插入DSL_LDM_CUST-->
     <insert id="insertDslLdmCust" parameterType="map">
		INSERT INTO DSL_LDM_CUST (
			CUST_ID, RECEIVE_TEL, RECEIVER, REGION_ID, DELIVER_ID, DIST_CT_ID, COM_ID, DIST_PERIOD, 
			PROMISE_DELIVER_TIME, WORKTIME, STEP_ID, ORDER1, LOCATE_STATUS, ORIGINAL_LONGITUDE, 
			ORIGINAL_LATITUDE, LONGITUDE, LATITUDE, DELIVER_WAY, RECEIVE_TEL2, 
			UNLOAD_SERV_TIME, DIST_ADDR, S_COM_ID, DIFF_FACTOR, MSG_ID
		) VALUES (
			#{CUST_ID,jdbcType=VARCHAR},#{RECEIVE_TEL,jdbcType=VARCHAR},#{RECEIVER,jdbcType=VARCHAR},
			#{REGION_ID,jdbcType=VARCHAR},#{DELIVER_ID,jdbcType=VARCHAR},#{DIST_CT_ID,jdbcType=VARCHAR},
			#{COM_ID,jdbcType=VARCHAR},#{DIST_PERIOD,jdbcType=VARCHAR},#{PROMISE_DELIVER_TIME,jdbcType=VARCHAR},
			#{WORKTIME,jdbcType=INTEGER},#{STEP_ID,jdbcType=CHAR},#{ORDER1,jdbcType=INTEGER},
			#{LOCATE_STATUS,jdbcType=CHAR},#{ORIGINAL_LONGITUDE,jdbcType=DECIMAL},#{ORIGINAL_LATITUDE,jdbcType=DECIMAL},
			#{LONGITUDE,jdbcType=DECIMAL},#{LATITUDE,jdbcType=DECIMAL},
			#{DELIVER_WAY,jdbcType=CHAR},#{RECEIVE_TEL2,jdbcType=VARCHAR},#{UNLOAD_SERV_TIME,jdbcType=INTEGER},
			#{DIST_ADDR,jdbcType=VARCHAR},#{S_COM_ID,jdbcType=VARCHAR},#{DIFF_FACTOR,jdbcType=DECIMAL},
			#{MSG_ID,jdbcType=VARCHAR}
		)
     </insert>
     <!-- 插入DSL_LDM_CUST_DIST-->
     <insert id="insertDslLdmCustDist" parameterType="map">
		INSERT INTO DSL_LDM_CUST_DIST (
			CUST_ID, RUT_ID, CUST_ORDER, IS_IN_POINT, POINT_ID, POINT_ORDER, MSG_ID
		) VALUES (
			#{CUST_ID,jdbcType=VARCHAR},#{RUT_ID,jdbcType=VARCHAR},#{CUST_ORDER,jdbcType=INTEGER},
			#{IS_IN_POINT,jdbcType=CHAR},#{POINT_ID,jdbcType=VARCHAR},#{POINT_ORDER,jdbcType=INTEGER},
			#{MSG_ID,jdbcType=VARCHAR}
		)
     </insert>
     
     <!-- 取得一条MDM_RM_CUST明细-->
	 <select id="getDslRmCustInGS" parameterType="map" resultType="map">
		SELECT
			DSL_CO_CUST.CUST_ID,DSL_CO_CUST.CUST_CODE,DSL_CO_CUST.CUST_NAME, 
			DSL_CO_CUST.CUST_SHORT_NAME,DSL_CO_CUST.CUST_SHORT_ID,DSL_CO_CUST.BUSI_ADDR,
			DSL_CO_CUST.BASE_TYPE,DSL_CO_CUST.STATUS,DSL_CO_CUST.MANAGER,
			DSL_CO_CUST.ORDER_TEL,COALESCE(PO1.ORGAN_ID,DSL_CO_CUST.SALE_CENTER_ID) SALE_CENTER_ID,
			COALESCE(PO2.ORGAN_ID,DSL_CO_CUST.SALE_DEPT_ID) SALEORG_ID,
			COALESCE(PO3.ORGAN_ID,DSL_CO_CUST.SLSMAN_ID) SLSMAN_ID,
			DSL_CO_CUST.PAY_TYPE,DSL_CO_CUST.INNER_TYPE,DSL_CO_CUST.CUST_TYPE,
			DSL_CO_CUST.CUST_TYPE1,DSL_CO_CUST.CUST_TYPE2,DSL_CO_CUST.CUST_TYPE3,DSL_CO_CUST.CUST_TYPE4,
			DSL_CRM_CUST.PAY_CUST_ID, DSL_CO_CUST.ACCOUNT,DSL_CO_CUST.TAX_ACCOUNT,DSL_CO_CUST.INV_TYPE IS_REQ_INV,
			DSL_CO_CUST.INV_CUST_ID,DSL_CO_CUST.INV_UNIT_NAME,DSL_CO_CUST.BANK,
			DSL_CO_CUST.ORDER_WAY,DSL_CO_CUST.NATION_CUST_CODE,DSL_CO_CUST.IS_SALE_LARGE,
			RM_CUST.INSPORG_ID,RM_CUST.INSPECTOR_ID,DSL_CO_CUST.COM_CHARA,
			DSL_CO_CUST.MANAGER_BIRTHDAY, DSL_CO_CUST.ORDER_CUST_ID, DSL_CRM_CUST.COR_CUST_ID, DSL_CO_CUST.NOTE,
			RM_CUST.IS_REGIE_CUST,RM_CUST.CORPORATION_NAME,  RM_CUST.BUSI_POST,  RM_CUST.MANAGER_ID,  
			RM_CUST.MANAGER_EDUCATION,RM_CUST.MANAGER_NATION, RM_CUST.MANAGER_SEX, RM_CUST.INSPECTOR_LEADER, 
			RM_CUST.SHIP_CUST_ID,RM_CUST.IS_CHG_PRI, RM_CUST.OLD_CUST_CODE, RM_CUST.DELIVER_WAY, RM_CUST.DELIVER_TIME, 
			RM_CUST.REGIE_GRADE, RM_CUST.CUST_CONDITION, RM_CUST.WHSE_ADDR, RM_CUST.CONVEYANCE_TAG, RM_CUST.PLACE_KIND, 
			RM_CUST.AREA_KIND,RM_CUST.TAKEBUSI_PEOPLE, RM_CUST.CUST_CHARA
		FROM DSL_CO_CUST 
		LEFT JOIN PUB_ORGAN_V3 PO1
		ON DSL_CO_CUST.SALE_CENTER_ID = PO1.ORGAN_CODE
		LEFT JOIN PUB_ORGAN_V3 PO2
		ON DSL_CO_CUST.SALE_DEPT_ID = PO2.ORGAN_CODE
		LEFT JOIN PUB_ORGAN_V3 PO3
		ON DSL_CO_CUST.SLSMAN_ID = PO3.ORGAN_CODE
		,DSL_CRM_CUST,RM_CUST
		WHERE DSL_CO_CUST.CUST_ID=DSL_CRM_CUST.CUST_ID
		AND DSL_CO_CUST.CUST_ID=RM_CUST.CUST_ID
		AND DSL_CO_CUST.MSG_ID=DSL_CRM_CUST.MSG_ID
        AND DSL_CO_CUST.CUST_ID=#{CUST_ID} AND DSL_CO_CUST.MSG_ID=#{MSG_ID}
	 </select>
	 <select id="getDslRmCustNewInGS" parameterType="map" resultType="map">
		SELECT
			DSL_CO_CUST.CUST_ID,DSL_CO_CUST.CUST_CODE,DSL_CO_CUST.CUST_NAME, 
			DSL_CO_CUST.CUST_SHORT_NAME,DSL_CO_CUST.CUST_SHORT_ID,DSL_CO_CUST.BUSI_ADDR,
			DSL_CO_CUST.BASE_TYPE,DSL_CO_CUST.STATUS,DSL_CO_CUST.MANAGER,
			DSL_CO_CUST.ORDER_TEL,COALESCE(PO1.ORGAN_ID,DSL_CO_CUST.SALE_CENTER_ID) SALE_CENTER_ID,
			COALESCE(PO2.ORGAN_ID,DSL_CO_CUST.SALE_DEPT_ID) SALEORG_ID,
			COALESCE(PO3.ORGAN_ID,DSL_CO_CUST.SLSMAN_ID) SLSMAN_ID,
			DSL_CO_CUST.PAY_TYPE,DSL_CO_CUST.INNER_TYPE,DSL_CO_CUST.CUST_TYPE,
			DSL_CO_CUST.CUST_TYPE1,DSL_CO_CUST.CUST_TYPE2,DSL_CO_CUST.CUST_TYPE3,DSL_CO_CUST.CUST_TYPE4,
			DSL_CRM_CUST.PAY_CUST_ID, DSL_CO_CUST.ACCOUNT,DSL_CO_CUST.TAX_ACCOUNT,DSL_CO_CUST.INV_TYPE IS_REQ_INV,
			DSL_CO_CUST.INV_CUST_ID,DSL_CO_CUST.INV_UNIT_NAME,DSL_CO_CUST.BANK,
			DSL_CO_CUST.ORDER_WAY,DSL_CO_CUST.NATION_CUST_CODE,
			RM_CUST.INSPORG_ID,RM_CUST.INSPECTOR_ID,DSL_CO_CUST.COM_CHARA,
			DSL_CO_CUST.MANAGER_BIRTHDAY, DSL_CO_CUST.ORDER_CUST_ID, DSL_CRM_CUST.COR_CUST_ID, DSL_CO_CUST.NOTE,
			RM_CUST.IS_REGIE_CUST,RM_CUST.CORPORATION_NAME,  RM_CUST.BUSI_POST,  RM_CUST.MANAGER_ID,  
			RM_CUST.MANAGER_EDUCATION,RM_CUST.MANAGER_NATION, RM_CUST.MANAGER_SEX, RM_CUST.INSPECTOR_LEADER, 
			RM_CUST.SHIP_CUST_ID,RM_CUST.IS_CHG_PRI, RM_CUST.OLD_CUST_CODE, RM_CUST.DELIVER_WAY, RM_CUST.DELIVER_TIME, 
			RM_CUST.REGIE_GRADE, RM_CUST.WHSE_ADDR, RM_CUST.CONVEYANCE_TAG, RM_CUST.PLACE_KIND, 
			RM_CUST.AREA_KIND,RM_CUST.TAKEBUSI_PEOPLE, RM_CUST.CUST_CHARA,
			DSL_CO_CUST.COM_ID,RM_CUST.REGIE_ID,DSL_CO_CUST.SCOPE,RM_CUST.PUH_CARD_ID,RM_CUST.ID_CARD_TYPE,
			RM_CUST.MANAGER_REG_ADDR,RM_CUST.PAUSE_TERM,RM_CUST.PAUSE_DATE,RM_CUST.RESUME_DATE,RM_CUST.INSP_RUT,
			RM_CUST.REGIE_INTEGRAL,RM_CUST.GRADE_LVL,DSL_CO_CUST.LICENSE_CODE,DSL_CO_CUST.CUST_TYPE5,
			DSL_CO_CUST.MANAGER_TEL,RM_CUST.ORDER_PERIOD,RM_CUST.GRADE_MARK,RM_CUST.SALE_GRADE,
			RM_CUST.SALE_MARK,RM_CUST.STAR_GRADE,RM_CUST.CUST_GROUP,RM_CUST.IS_STAR,
			RM_CUST.IS_PROMISES,RM_CUST.PUNISH_STATUS,RM_CUST.PUNISH_BEGIN_DATE,RM_CUST.PUNISH_END_DATE,
			RM_CUST.CONVEYANCE_TAG
		FROM DSL_CO_CUST
		LEFT JOIN PUB_ORGAN_V3 PO1
		ON DSL_CO_CUST.SALE_CENTER_ID = PO1.ORGAN_CODE
		LEFT JOIN PUB_ORGAN_V3 PO2
		ON DSL_CO_CUST.SALE_DEPT_ID = PO2.ORGAN_CODE
		LEFT JOIN PUB_ORGAN_V3 PO3
		ON DSL_CO_CUST.SLSMAN_ID = PO3.ORGAN_CODE
		,DSL_CRM_CUST,RM_CUST
		WHERE DSL_CO_CUST.CUST_ID=DSL_CRM_CUST.CUST_ID
		AND DSL_CO_CUST.CUST_ID=RM_CUST.CUST_ID
		AND DSL_CO_CUST.MSG_ID=DSL_CRM_CUST.MSG_ID
        AND DSL_CO_CUST.CUST_ID=#{CUST_ID} AND DSL_CO_CUST.MSG_ID=#{MSG_ID}
	 </select>
	 <!-- 取得一条MDM_RM_CUST_OTHER明细-->
	 <select id="getDslRmCustOtherInGS" parameterType="map" resultType="map">
		SELECT 
			DSL_CO_CUST.CUST_ID,DSL_CO_CUST.AREA_TYPE,
			DSL_CRM_CUST.ORG_MODEL,DSL_CRM_CUST.IS_MULTIPLE_SHOP,DSL_CO_CUST.WORK_PORT,
			DSL_CRM_CUST.IS_NIGHT_SHOP,DSL_CO_CUST.OBSERVED_LAW ,
			COALESCE(DSL_CRM_CUST.COR_EMP_AMT,0) COR_EMP_AMT,DSL_CRM_CUST.BUSI_TIME_TYPE,DSL_CRM_CUST.INFO_TERMINAL,
			DSL_CRM_CUST.SHOP_FRONT_MARK,DSL_CO_CUST.IS_TOR_TAX,DSL_CRM_CUST.PERIOD_TYPE,
			DSL_CRM_CUST.VISIT_PERIOD,DSL_CRM_CUST.BUSI_END_DATE,DSL_CRM_CUST.BUSI_START_DATE,
			RM_CUST_OTHER_V3.REG_ADDR ,RM_CUST_OTHER_V3.REG_POST ,RM_CUST_OTHER_V3.SPECIAL_TYPE ,RM_CUST_OTHER_V3.DEPT ,
			RM_CUST_OTHER_V3.BUSI_LICENSE_CODE,RM_CUST_OTHER_V3.DATE_END ,RM_CUST_OTHER_V3.REG_FUND ,RM_CUST_OTHER_V3.ALL_BUSI_AREA ,
			RM_CUST_OTHER_V3.BUSI_AREA_PART ,RM_CUST_OTHER_V3.BUSI_ADDR_AVAIL_DATE,
            RM_CUST_OTHER_V3.VARIETY_SAMPLE_NUM ,RM_CUST_OTHER_V3.TOTAL_SAMPLE_NUM ,RM_CUST_OTHER_V3.CUST_AROUND ,
            RM_CUST_OTHER_V3.PASS_AMT ,RM_CUST_OTHER_V3.CRE_DATE,RM_CUST_OTHER_V3.PROPERTY_PERSON ,
            RM_CUST_OTHER_V3.PROPERTY_CONTACT ,RM_CUST_OTHER_V3.BUSI_EQUIP ,RM_CUST_OTHER_V3.CANT_CODE,
			RM_CUST_OTHER_V3.IS_MONO,DSL_CO_CUST.SALE_SCOPE,DSL_CO_CUST.CUST_KIND
		FROM DSL_CO_CUST,DSL_CRM_CUST,RM_CUST_OTHER_V3
		WHERE DSL_CO_CUST.CUST_ID=DSL_CRM_CUST.CUST_ID
		AND DSL_CO_CUST.CUST_ID=RM_CUST_OTHER_V3.CUST_ID
		AND DSL_CO_CUST.MSG_ID=DSL_CRM_CUST.MSG_ID
        AND DSL_CO_CUST.CUST_ID=#{CUST_ID} AND DSL_CO_CUST.MSG_ID=#{MSG_ID}
	 </select>
	 <select id="getDslRmCustOtherNewInGS" parameterType="map" resultType="map">
		SELECT 
			DSL_CO_CUST.CUST_ID,DSL_CO_CUST.AREA_TYPE, 
			DSL_CRM_CUST.ORG_MODEL,DSL_CRM_CUST.IS_MULTIPLE_SHOP,DSL_CO_CUST.WORK_PORT,
			DSL_CRM_CUST.IS_NIGHT_SHOP,DSL_CO_CUST.OBSERVED_LAW ,
			COALESCE(DSL_CRM_CUST.COR_EMP_AMT,0) COR_EMP_AMT,DSL_CRM_CUST.BUSI_TIME_TYPE,DSL_CRM_CUST.INFO_TERMINAL,
			DSL_CRM_CUST.SHOP_FRONT_MARK,DSL_CO_CUST.IS_TOR_TAX,DSL_CRM_CUST.PERIOD_TYPE,
			DSL_CRM_CUST.VISIT_PERIOD,DSL_CRM_CUST.BUSI_END_DATE,DSL_CRM_CUST.BUSI_START_DATE,
			RM_CUST_OTHER_V3.REG_ADDR ,RM_CUST_OTHER_V3.REG_POST ,RM_CUST_OTHER_V3.SPECIAL_TYPE ,RM_CUST_OTHER_V3.DEPT ,
			RM_CUST_OTHER_V3.BUSI_LICENSE_CODE,RM_CUST_OTHER_V3.DATE_END ,RM_CUST_OTHER_V3.REG_FUND ,RM_CUST_OTHER_V3.ALL_BUSI_AREA ,
			RM_CUST_OTHER_V3.BUSI_AREA_PART ,RM_CUST_OTHER_V3.BUSI_ADDR_AVAIL_DATE,
            RM_CUST_OTHER_V3.CUST_AROUND ,RM_CUST_OTHER_V3.PASS_AMT ,RM_CUST_OTHER_V3.PROPERTY_PERSON ,
            RM_CUST_OTHER_V3.PROPERTY_CONTACT ,RM_CUST_OTHER_V3.BUSI_EQUIP ,RM_CUST_OTHER_V3.IS_MONO,
			RM_CUST_OTHER_V3.CANT_CODE,RM_CUST_OTHER_V3.BUSI_LICENSE_TYPE,RM_CUST_OTHER_V3.DATE_START,RM_CUST_OTHER_V3.COM_TYPE,
			DSL_CRM_CUST.NET_DATE,RM_CUST_OTHER_V3.LICENSE_SCOPE,RM_CUST_OTHER_V3.REG_FUND,COALESCE(RM_CUST_OTHER_V3.BUSI_AREA,0) BUSI_AREA,
			RM_CUST_OTHER_V3.EQUIP_LOC,DSL_CRM_CUST.EQUIP_IN_CIG,RM_CUST_OTHER_V3.CONSU_LVL,RM_CUST_OTHER_V3.EMP_DIA,
			RM_CUST_OTHER_V3.UNITS_AROUND,RM_CUST_OTHER_V3.SPECIAL_TYPE,RM_CUST_OTHER_V3.FAX,RM_CUST_OTHER_V3.EMAIL,
			RM_CUST_OTHER_V3.MAIN_WEB,RM_CUST_OTHER_V3.RANK,RM_CUST_OTHER_V3.STOCK_TYPE,RM_CUST_OTHER_V3.IS_STORAGE_CHECK,
			RM_CUST_OTHER_V3.LIFE_CYC,RM_CUST_OTHER_V3.IS_LICENSE,RM_CUST_OTHER_V3.IS_MKT,RM_CUST_OTHER_V3.MKT_ID,
			RM_CUST_OTHER_V3.IS_DEDUCT,RM_CUST_OTHER_V3.IS_CREDIT,RM_CUST_OTHER_V3.BUSI_STRU,RM_CUST_OTHER_V3.BUSI_BREED,
			RM_CUST_OTHER_V3.FINANCE_SYSTEM,RM_CUST_OTHER_V3.MARKET_CREDIT,RM_CUST_OTHER_V3.EXPAND_BUSI_SCALE,
			RM_CUST_OTHER_V3.INCREASE_BUSI,RM_CUST_OTHER_V3.SALE_STABLE,RM_CUST_OTHER_V3.INTERIOR_FIGURE,
			RM_CUST_OTHER_V3.EMP_DEGREE,RM_CUST_OTHER_V3.PARTNERSHIP,RM_CUST_OTHER_V3.NEW_TOBACCO_STAND,
			RM_CUST_OTHER_V3.MANAGE_LEVEL,RM_CUST_OTHER_V3.BUSI_CONDITIONS,RM_CUST_OTHER_V3.BUSI_LICENSE_SCOPE,
			DSL_CO_CUST.CELEBRATE_DATE CELEBRATE_DATE1,DSL_CRM_CUST.SUB_WORK_PORT,RM_CUST_OTHER_V3.ALLOW_PACT,
			RM_CUST_OTHER_V3.DYNAMIC_PRO,RM_CUST_OTHER_V3.IS_SIGNED_PACT,DSL_CO_CUST.SALE_SCOPE,DSL_CO_CUST.CUST_KIND
		FROM DSL_CO_CUST,DSL_CRM_CUST,RM_CUST_OTHER_V3
		WHERE DSL_CO_CUST.CUST_ID=DSL_CRM_CUST.CUST_ID
		AND DSL_CO_CUST.CUST_ID=RM_CUST_OTHER_V3.CUST_ID
		AND DSL_CO_CUST.MSG_ID=DSL_CRM_CUST.MSG_ID
        AND DSL_CO_CUST.CUST_ID=#{CUST_ID} AND DSL_CO_CUST.MSG_ID=#{MSG_ID}
	 </select>
	 <!-- 取得一条MDM_CC_CCUST明细-->
	 <select id="getDslCcCcustInGS" parameterType="map" resultType="map">
		SELECT 
			DSL_CSC_CUST.CUST_ID,DSL_CSC_CUST.COM_ID,COALESCE(DSL_CSC_CUST.SEQ,10) SEQ,
			COALESCE(PUB_ORGAN_V3.ORGAN_ID,DSL_CSC_CUST.CALLCENTER_ID) CALLCENTER_ID,
			DSL_CSC_CUST.PERIODS_ID,DSL_CSC_CUST.DOMAIN_ID,DSL_CSC_CUST.GATE_ID,DSL_CSC_CUST.CALL_TYPE,
			DSL_CSC_CUST.OBTELNO,DSL_CSC_CUST.BEGIN_TIME,DSL_CSC_CUST.END_TIME,DSL_CSC_CUST.ORDER_PWD,DSL_CSC_CUST.OBTELNO2,
			DSL_CSC_CUST.CALL_STATUS,DSL_CSC_CUST.RESTART_DATE,DSL_CSC_CUST.STOP_REASON
		FROM DSL_CSC_CUST
		LEFT JOIN PUB_ORGAN_V3
		ON DSL_CSC_CUST.CALLCENTER_ID = PUB_ORGAN_V3.ORGAN_CODE
        WHERE DSL_CSC_CUST.CUST_ID=#{CUST_ID} AND DSL_CSC_CUST.MSG_ID=#{MSG_ID}
	 </select>
	 
	 <!-- 取得一条MDM_SD_CUST_DIST明细-->
	 <select id="getDslSdCustDistInGS" parameterType="map" resultType="map">
		SELECT  
			DSL_LDM_CUST_DIST.CUST_ID,COALESCE(SD_DIST_RUT_V3.RUT_ID,DSL_LDM_CUST_DIST.RUT_ID) RUT_ID,
			DSL_LDM_CUST_DIST.CUST_ORDER,DSL_CO_CUST.COM_ID,
			'1' WORKTIME,'' PROCESS_ID,'' ACTIVITY_ID
		FROM DSL_LDM_CUST_DIST
		LEFT JOIN SD_DIST_RUT_V3 
		ON DSL_LDM_CUST_DIST.RUT_ID=SD_DIST_RUT_V3.RUT_CODE
		,DSL_CO_CUST
		WHERE DSL_LDM_CUST_DIST.CUST_ID=DSL_CO_CUST.CUST_ID
		AND DSL_CO_CUST.MSG_ID=DSL_LDM_CUST_DIST.MSG_ID
        AND DSL_CO_CUST.CUST_ID=#{CUST_ID} AND DSL_LDM_CUST_DIST.MSG_ID=#{MSG_ID}
	 </select>
	 
	 <!-- 取得一条服务明细-->
	 <select id="getServerInfo" parameterType="map" resultType="map">
		SELECT SERVER_URL,NAME_SPACE
        FROM  DSL_SERVER_INFO
        WHERE MODULE_ID=#{MODULE_ID} AND SERVER_ID=#{SERVER_ID}
	 </select>
</mapper>