<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.js_tobacco.mdm.permit.sql.PermitMapper">
	<insert id="insertCust" parameterType="map">
		INSERT INTO
		MD_CUST_PERMIT(
		XKZHM,
		KHMC,
		GBBM,
		GSID, 
		GSMC,
		BMID,
		RWLX,
		JYDZ,
		FR,
		LXDH,
		XB,
		NL,
		SFZ,
		YYZZ,
		FRCSNY,
		SLRQ,
		YXRQ,
		GHDW,
		JYFW,
		JYXZ,
		JYYT,
		ZL,
		BZRQ,
		GXRQ,
		NSRQ,
		BZ,
		ZYJY,
		YCXT,
		XTNXS,
		ZZRQ0,
		ZZRQ1,
		XZFQ,
		ZT,
		EXT_COL1,
		EXT_COL2,
		EXT_COL3,
		EXT_COL4,
		EXT_COL5,
		EXT_COL6,
		EXT_COL7,
		EXT_COL8,
		EXT_COL9,
		EXT_COL10
		)
		VALUES (
		#{xkzhm, jdbcType=VARCHAR},
		#{khmc, jdbcType=VARCHAR},
		#{gbbm,jdbcType=VARCHAR},
		#{gsid, jdbcType=VARCHAR},
		#{gsmc, jdbcType=VARCHAR},
		#{bmid, jdbcType=VARCHAR},
		#{rwlx, jdbcType=VARCHAR},
		#{jydz,jdbcType=VARCHAR},
		#{fr, jdbcType=VARCHAR},
		#{lxdh, jdbcType=VARCHAR},
		#{xb, jdbcType=VARCHAR},
		#{nl, jdbcType=VARCHAR},
		#{sfz,jdbcType=VARCHAR},
		#{yyzz, jdbcType=VARCHAR},
		#{frcsny, jdbcType=VARCHAR},
		#{slrq, jdbcType=VARCHAR},
		#{yxrq, jdbcType=VARCHAR},
		#{ghdw,jdbcType=VARCHAR},
		#{jyfw, jdbcType=VARCHAR},
		#{jyxz, jdbcType=VARCHAR},
		#{jyyt, jdbcType=VARCHAR},
		#{zl, jdbcType=VARCHAR},
		#{bzrq, jdbcType=VARCHAR},
		#{gxrq, jdbcType=VARCHAR},
		#{nsrq, jdbcType=VARCHAR},
		#{bz,jdbcType=VARCHAR},
		#{zyjy, jdbcType=VARCHAR},
		#{ycxt, jdbcType=VARCHAR},
		#{xtnxs, jdbcType=VARCHAR},
		#{zzrq0,jdbcType=VARCHAR},
		#{zzrq1,jdbcType=VARCHAR},
		#{xzfq, jdbcType=VARCHAR},
		#{zt,jdbcType=VARCHAR},
		#{ext_col1, jdbcType=VARCHAR},
		#{ext_col2,
		jdbcType=VARCHAR},
		#{ext_col3, jdbcType=VARCHAR},
		#{ext_col4,
		jdbcType=VARCHAR},
		#{ext_col5, jdbcType=VARCHAR},
		#{ext_col6,
		jdbcType=VARCHAR},
		#{ext_col7, jdbcType=VARCHAR},
		#{ext_col8,
		jdbcType=VARCHAR},
		#{ext_col9, jdbcType=VARCHAR},
		#{ext_col10,
		jdbcType=VARCHAR}
		)
	</insert>


	<update id="updateCust" parameterType="map">
		UPDATE MD_CUST_PERMIT SET
		XKZHM = #{xkzhm, jdbcType=VARCHAR},
		KHMC = #{khmc, jdbcType=VARCHAR},
		GBBM = #{gbbm, jdbcType=VARCHAR},
		GSID = #{gsid, jdbcType=VARCHAR},
		GSMC = #{gsmc, jdbcType=VARCHAR},
		BMID = #{bmid, jdbcType=VARCHAR},
		RWLX = #{rwlx, jdbcType=VARCHAR},
		JYDZ = #{jydz, jdbcType=VARCHAR},
		FR = #{fr, jdbcType=VARCHAR},
		LXDH = #{lxdh, jdbcType=VARCHAR},
		XB = #{xb, jdbcType=VARCHAR},
		NL = #{nl, jdbcType=VARCHAR},
		SFZ = #{sfz, jdbcType=VARCHAR},
		YYZZ = #{yyzz, jdbcType=VARCHAR},
		FRCSNY = #{frcsny, jdbcType=VARCHAR},
		SLRQ = #{slrq, jdbcType=VARCHAR},
		YXRQ = #{yxrq, jdbcType=VARCHAR},
		GHDW = #{ghdw, jdbcType=VARCHAR},
		JYFW = #{jyfw, jdbcType=VARCHAR},
		JYXZ = #{jyxz, jdbcType=VARCHAR},
		JYYT = #{jyyt, jdbcType=VARCHAR},
		ZL = #{zl, jdbcType=VARCHAR},
		BZRQ = #{bzrq, jdbcType=VARCHAR},
		GXRQ = #{gxrq, jdbcType=VARCHAR},
		NSRQ =#{nsrq, jdbcType=VARCHAR},
		BZ = #{bz, jdbcType=VARCHAR},
		ZYJY = #{zyjy, jdbcType=VARCHAR},
		YCXT = #{ycxt, jdbcType=VARCHAR},
		XTNXS = #{xtnxs, jdbcType=VARCHAR},
		ZZRQ0 = #{zzrq0, jdbcType=VARCHAR},
		ZZRQ1 =#{zzrq1, jdbcType=VARCHAR},
		XZFQ = #{xzfq, jdbcType=VARCHAR},
		ZT = #{zt, jdbcType=VARCHAR},
		EXT_COL1 = #{ext_col1, jdbcType=VARCHAR},
		EXT_COL2 = #{ext_col2, jdbcType=VARCHAR},
		EXT_COL3 = #{ext_col3, jdbcType=VARCHAR},
		EXT_COL4 = #{ext_col4, jdbcType=VARCHAR},
		EXT_COL5 = #{ext_col5, jdbcType=VARCHAR},
		EXT_COL6 = #{ext_col6, jdbcType=VARCHAR},
		EXT_COL7 = #{ext_col7, jdbcType=VARCHAR},
		EXT_COL8 = #{ext_col8, jdbcType=VARCHAR},
		EXT_COL9 = #{ext_col9, jdbcType=VARCHAR},
		EXT_COL10 = #{ext_col10, jdbcType=VARCHAR}
		WHERE XKZHM = #{xkzhm}
	</update> 
	
	
	 <delete id="deleteCust" parameterType="map">
        DELETE FROM MD_CUST_PERMIT WHERE XKZHM = #{xkzhm}
    </delete>

</mapper>